<header class="">

  <!-- Content to be placed in dropdown -->
  <ul id="dropdown1" class="dropdown-content grey darken-4">
    <li><a href="{{site.baseurl}}/road" class="white-text">Road to Megathon</a></li>
    <li><a href="{{site.baseurl}}/megathon-online" class="white-text">Megathon Online</a></li>
    <li><a href="{{site.baseurl}}/megathon" class="white-text">Megathon</a></li>
    <li><a href="{{site.baseurl}}/b-hack" class="white-text">B-Hack</a></li>
  </ul>

  <nav class="grey darken-4">
    <div class="nav-wrapper">

      <div class="fixwh-container logo left">
        <a href="{{site.baseurl}}/" class="megathon-logo">        
            <img class="logo-img" src="{{site.baseurl}}/assets/images/logos/logo_new.png" alt="{{site.baseurl}}">
        </a>
      </div>      
      <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{site.baseurl}}/#About">About Us</a></li>
        <li><a href="{{site.baseurl}}/#Format">Format</a></li>
        <li><a href="{{site.baseurl}}/timeline">Timeline</a></li>
        <!-- <li><a class="dropdown-trigger" data-target="dropdown1" href="">Events<i class="material-icons right">arrow_drop_down</i></a></li> -->

        <li><a href="{{site.baseurl}}/events">Events</a></li>

        <li><a href="{{site.baseurl}}/Apply/#content-main">Apply Now</a></li>
        <li><a href="{{site.baseurl}}/#Contact">Contact Us</a></li>
        <li><a href="{{site.baseurl}}/faq">FAQ</a></li>
        <li><a href="{{site.baseurl}}/sponsors">Sponsors</a></li>

        <!-- <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li> -->
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <div class="align-box-h">
      <li><a class="sidenav-close" href="#!"><i class="material-icons">close</i></a></li>
    </div>

    <li class="active"><a href="{{site.baseurl}}/">Home</a></li>
    <li><a href="{{site.baseurl}}/#About">About Us</a></li>
    <li><a href="{{site.baseurl}}/#Format">Format</a></li>

    <!-- <li><a href="{{site.baseurl}}/road">Road to Megathon</a></li>
    <li><a href="{{site.baseurl}}/megathon-online">Megathon Online</a></li>
    <li><a href="{{site.baseurl}}/megathon">Megathon</a></li>
    <li><a href="{{site.baseurl}}/b-hack">B-Hack</a></li> -->
    <li><a href="{{site.baseurl}}/events">Events</a></li>
    <li><a href="{{site.baseurl}}/timeline">Timeline</a></li>
    <li><a href="{{site.baseurl}}/Apply/#content-main">Apply Now</a></li>
    <li><a href="{{site.baseurl}}/#Contact">Contact Us</a></li>
    <li><a href="{{site.baseurl}}/faq">FAQ</a></li>
    <li><a href="{{site.baseurl}}/sponsors">Sponsors</a></li>


  </ul>
</header>
<!-- Can't keep this inside header -->
