<div id="Schedule" class="scrollspy">
  <div class="container">

    <!-- Single Heading line -->
    <h3 class="center-align mb-3 mt-5 heading">Schedule</h3>

     <table class ="striped centered responsive-table">
        <thead class="grey lighten-4">
          <tr>
              <th>Event</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Detailed Schedule</th>
          </tr>
        </thead>

        <tbody>
          {% for data in site.data.evtlist %}
              <tr class="grey lighten-5">
                  <td>{{data.name}}</td>
                  <td>{{data.date.start}}</td>
                  <td>{{data.date.end}}</td>
                  <td><a href="{{site.baseurl}}/{{data.link}}/#schedule">Schedule </a></td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>

    <p>
      <a href="{{site.baseurl}}/timeline">Click here for a more detailed timeline.</a>
    </p>

  </div>
</div>
