<div id="Upcoming" class="scrollspy">
    <div class="container">
        <h3 class="center-align mb-3 mt-5 heading">Upcoming Events</h3>
        {% assign i=1 %}
        <div class="row">
        {% for event in site.data.evtlist %}
            <div class="col m6 heading-fix">
                <h4>{{event.name}}</h4>
                <p class="content-fix">{{event.about|slice : 0,250}}
                    <a class="clink" href="{{site.baseurl}}{{event.url}}" target="_blank">... [Read more]</a>
                </p>
            </div>
        {% endfor %}
        </div>
    </div>
</div>