/* BEGIN CUSTOM DECLARATIONS */
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeueRegular.ttf");
}

@font-face {
    font-family: "Norwester";
    src: url("../fonts/norwester.tff"), url("../fonts/norwester.eot");
}

/* @import url('https://fonts.googleapis.com/css?family=Raleway:400,500'); */

@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/Raleway-Medium.ttf"),
        url("../fonts/raleway/Raleway-Regular.ttf");
}

/* END CUSTOM DECLARATIONS */

/* BEGIN REGULAR ELEMENT STYLING */

/*START Banner*/
/* #banner{
color: white;
margin-left: 5vw;
margin-top: 5vw;
height: 90vh;
width: 90vw;
z-index: 3000;
position: fixed;
background-color: black;
}
.banner-text{
height: 100%;
width: 100%;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}
#closeable{
color:red;
font-size: 2rem;
}
#closeable:hover{
cursor: pointer;
} */

#banner {
    position: fixed;
    z-index: 1200;
    top: 4rem;
    width: 100%;
    padding: 0.2rem;
    /* height: 2rem; */

    transition: all 0.5s ease;

    background-color: #b71c1c;
    color: white;
}

#banner a {
    color: white;
    /* font-style: italic; */
    text-decoration: underline;
}

#closeBanner:hover {
    cursor: pointer;
}

/* END banner styling */

/* START landing cover */
.landing {
    height: 100vh;
    width: 100%;

    overflow: hidden;

    color: white;
}
.hero {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 900;
}
.hero-overlay {
    opacity: 0.5;
}
.align-fill {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing .align-box h1 {
    font-size: 12vw;
    font-weight: lighter;
    letter-spacing: 1rem;
}

.landing .align-box h2 {
    font-size: 8vw;
    letter-spacing: 1rem;
}

.landing .align-box h5 {
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px black;
}

.landing .align-box h1,
.landing .align-box h2 {
    margin: 0;
    line-height: 0.75;
}
/* END landing cover */

/* START scroll down button styling */
#down {
    z-index: 1300;
    transition: all 0.6s ease;
}

@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        -transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        -transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        -transform: translateY(-10px);
    }
}
#downicon {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease;
    animation: bounce 2s infinite;
    color: white;
    width: 100%;
    height: 100%;
}
#downicon:hover {
    color: #e14658;
}
/* END scoll down button styling */

/* START home scroll stylling */
#jump {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    z-index: 1300;

    background: #22252c;
    border-radius: 50%;

    transition: all 0.6s ease;
}

#jump i {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease;

    color: #e14658;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#jump:hover {
    background: #e14658;
}

#jump i:hover {
    color: white;
}

/* END home scroll styling */

/* START format styling */

#format a {
    transition: 0.5s ease;
}

#format a:hover {
    color: #f44336;
}

/* #format .row {
margin-bottom: 0;
} */

#format .container {
    border: 1px solid #eeeeee;
}

/* END format styling */

/* START sponsor styling */

/* END sponsor styling */

/* START events pages styling */

.eventcont p {
    font-size: 1.2rem;
}

.prize {
    width: 35vh;
    height: 35vh;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.prize-overlay {
    bottom: 100%;
    background-color: black;
    overflow: hidden;
    height: 0;
}
.prize:hover .prize-overlay {
    bottom: 0;
    height: 100%;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* END events pages styling */

/* END REGULAR ELEMENT STYLING */

/* BEGIN MODIFYING MATERIALIZE */

/* ------custom fonts------ */
body {
    /* defined in html */
    /* font-weight: 500; */
    font-size: 1.1em;
}

/* ------z-indices as per bootstrap------ */
* {
    z-index: 1000;
    overflow-wrap: break-word;
}

.sidenav {
    z-index: 1300;
}

.waves-effect {
    z-index: 1000;
}

nav {
    z-index: 1100;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

/* ------Hover animations and transitions------ */
/* Link */
a {
    color: #1683d6;
    transition: 0.5s ease;
}
a:hover {
    color: #f44336;
}

/* Navbar */
nav {
    position: fixed;
    transition: all 0.5s ease;
}
nav ul {
    transition: all 0.5s ease;
}
nav ul a {
    transition: all 0.5s ease;
}

/* ------New helper classes------ */
/* Buttons */
.btn-line {
    background-color: rgba(0, 0, 0, 0.2) !important;
    /* background-color: transparent !important; */
    border: solid 1px red;
    transition: all 0.5s ease;
}
/*
.btn-line:hover {
color: #212121;
} */

/* Transparency */
.transparent {
    background-color: transparent !important;
    color: transparent !important;
}

.std-transparent {
    background-color: transparent !important;
}

/* END MODIFYING MATERIALIZE */

/* BEGIN DEFINE GENERIC CLASSES */

/* ---APPEARANCE--- */

/* ------link classes------ */

/* ------font stacks------ */
.bebas-neue {
    font-family: "Bebas Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.norwester {
    font-family: "Norwester", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.raleway {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* ------Opacity settings------ */
.opacity-1 {
    opacity: 0.1 !important;
}
.opacity-2 {
    opacity: 0.2 !important;
}
.opacity-3 {
    opacity: 0.3 !important;
}
.opacity-4 {
    opacity: 0.4 !important;
}
.opacity-5 {
    opacity: 0.5 !important;
}
.opacity-6 {
    opacity: 0.6 !important;
}
.opacity-7 {
    opacity: 0.7 !important;
}
.opacity-8 {
    opacity: 0.8 !important;
}
.opacity-9 {
    opacity: 0.9 !important;
}

/* ------Layout: Single Column------ */
.align-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.align-box-h {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.align-box.right,
.align-box-h.right {
    align-items: flex-end;
}
.align-box.left,
.align-box-h.left {
    align-items: flex-start;
}
.align-box .right,
.align-box-h .right {
    align-self: flex-end;
}
.align-box .left,
.align-box-h .left {
    align-self: flex-start;
}
.align-box-h.right {
    justify-content: flex-end;
}
.align-box-h.left {
    justify-content: flex-start;
}

/* Custom line heights */
.lh-15 {
    line-height: 0.15;
}
.ico {
    color: rgba(256, 256, 256, 0.8);
    padding: 1rem;
    transition: 0.5s ease;
}
.ico:hover {
    color: #f44336;
}

/* subset of Bootstrap-like spacingn options */
.mb-5 {
    margin-bottom: 3rem !important;
}
.mt-5 {
    margin-top: 3rem !important;
}
.mb-3 {
    margin-bottom: 2rem !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* ------components------ */
.overlay {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0.7;

    transition: all 0.5s ease;
}

.fixh-container {
    width: 100%;
    height: 15rem;
    overflow: hidden;
    overflow-wrap: break-word;
}
.fixwh-container {
    width: 10rem;
    height: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
}
.fixwh-container.stout {
    width: 4rem;
}

.fixwh-container.stouter {
    width: 6rem;
}
.fixwh-container.max {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    overflow-wrap: break-word;
}

.of {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.of.cover {
    object-fit: cover;
}

.hide-overflow {
    overflow: hidden;
}

/* TODO ORGANIZE AND DEAL WITH THIS ASAP */

/*This is timeline css*/
.timeline ul {
    /* padding: 50px 0; */
    overflow: hidden;
    margin-top: 0.1em;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 1px;
    margin: 0 auto;
    padding-top: 1rem;
    background: #000;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
}

.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #107ba0 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #107ba0;
}

time {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0rem;
}
.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #107ba0;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #107ba0 transparent transparent;
    }

    .landing .align-box h1 {
        font-size: 16vw;
        letter-spacing: 0.75rem;
    }
}

@media screen and (max-width: 600px) and (max-height: 900px) {
    .fixwh-container.stout {
        width: 4rem;
    }
    .fixwh-container.stouter {
        width: 6rem;
    }
}

@media screen and (max-width: 600px) and (max-height: 650px) {
    .fixwh-container.stout {
        width: 3rem;
    }
    .fixwh-container.stouter {
        width: 5rem;
    }
}

.online {
    background-color: #3fa4af;
    color: rgba(256, 256, 256, 0.8);
}
.onsite {
    background-color: #107ba0;
    color: rgba(256, 256, 256, 0.8);
}

/* END DEFINE GENERIC CLASSES */

.heading {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}

.light-text-visible {
    background-color: rgba(0, 0, 0, 0.5);
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading-fix {
    text-align: center;
}

.video-fix {
    max-width: 575px;
    width: 90%;
}

.content-fix {
    text-align: justify;
    width: 90%;
}

.container-fix {
    margin-bottom: 2vh;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 85%;
}

.logo:hover img {
    opacity: 0.6;
}

.clear {
    clear: both;
}

.fixwh-container.logo {
    width: 100px;
    display: flex;
    align-items: center;
}

.megathon-logo {
    display: inline-block;
    height: 85%;
    width: fit-content;
}

.megathon-logo img {
    height: 100%;
}

.brand-logo {
    width: 238px;
    max-width: 238px;
    padding: 2%;
    height: 100%;
}

.brand-logo img {
    width: 100%;
    height: auto;
    flex: 1;
}

.center-list img {
    width: 100%;
}

.loww {
    width: 60%;
    display: block;
    margin: auto;
}

@media (max-width: 700px) {
    .center-list a + a {
        display: block;
        margin-left: 0;
    }

    .loww {
        width: 100%;
    }

    h1 {
        font-size: 3.5rem;
    }
}

@media (min-width: 700px) {
    h1 {
        font-size: 5rem;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 80%;
    }

    .container-fix:nth-child(2n) .video-fix {
        float: left;
        width: 40%;
        margin-top: 5%;
        margin-bottom: 5%;
        max-width: 665px;
    }

    .container-fix:nth-child(2n + 1) .content-fix {
        margin-top: 0;
        width: 55%;
        float: left;
    }

    .container-fix:nth-child(2n + 1) .video-fix {
        width: 40%;
        float: right;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .container-fix:nth-child(2n) .heading-fix {
        width: 55%;
        float: right;
        text-align: initial;
        margin-bottom: 0;
    }

    .container-fix:nth-child(2n + 1) .heading-fix {
        width: 55%;
        float: left;
        text-align: initial;
        margin-bottom: 0;
    }

    .container-fix {
        margin-bottom: 1vh;
        width: 100%;
        overflow: auto;
    }

    .container-fix:nth-child(2n) .content-fix {
        float: right;
        width: 55%;
    }

    .logo {
        justify-content: start;
    }

    .logo img {
        margin-top: auto;
        margin-left: 25%;
    }

    .fixwh-container.logo {
        margin-left: 3%;
    }
}

@media (min-width: 1100px) {
    /* To increase specificity */
    .container-fix:nth-child(n) .video-fix {
        margin-top: 2%;
        margin-bottom: 2%;
    }
}

@media (min-width: 1550px) {
    /* To increase specificity */
    .container-fix:nth-child(n) .video-fix {
        margin-top: 0;
        margin-bottom: 0;
    }

    .container-fix {
        margin-bottom: 5vh;
    }
}

@media (min-width: 1600px) {
    .align-box-h.mb-5 {
        height: 10rem;
    }

    .align-box-h.mb-5 .stout {
        height: 100%;
    }

    nav {
        height: 80px;
    }

    .nav-wrapper > * {
        height: 100%;
    }

    .nav-wrapper a {
        line-height: 80px;
        font-size: 1.2rem;
    }

    .fixwh-container.logo {
        height: 100%;
    }

    .align-box a {
        font-size: 2em !important;
        height: 5rem;
        line-height: 5rem;
    }

    #banner {
        top: 80px;
        font-size: 23px;
    }

    .row,
    #Schedule,
    footer {
        font-size: 1.3rem;
    }

    #Contact .container {
        max-width: 550px !important;
        width: 550px;
    }

    h5 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 3.5em !important;
    }
}

.center {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10vh;
}

blockquote h5 {
    font-size: 2rem;
}

blockquote p {
    font-size: 1.2rem;
}

footer .center {
    padding: 10px 0;
    margin-top: 0;
}

.inline-text {
    display: inline;
}

.logo:hover img {
    opacity: 0.6;
}

.cover {
    background-attachment: fixed;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 100%;
}

.blur {
    -webkit-filter: blur(2.5px); /* Safari 6.0 - 9.0 */
    filter: blur(2.5px);
}

.hiddenJumpIcon {
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
}

h1 {
    text-align: center;
}
